body{
    color: white;
    background-image: url("https://th.bing.com/th/id/OIP.t5t2YqwBDJ6O4paI7iXDQwHaE8?w=269&h=180&c=7&r=0&o=5&dpr=1.5&pid=1.7");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}